@model TrelloClone.Models.ToDo

@{
    ViewBag.Title = "Index";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div id="tableDiv"></div>
<div id="todoCreateFrom">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoes", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
    <div class="form-group">
        @Html.AntiForgeryToken()
        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @Html.Label("Enter Your Task",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    }
</div>
    
@* ** adding the customized scripts *@

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/CustomScripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    }
